<!DOCTYPE html>
<html>
<head>
	<title>肇庆创星谷创新创业孵化基地</title>
	<include file="Public/header" title="肇庆创星谷创新创业孵化基地"/>
	<!-- start-smoth-scrolling -->
	<meta name="keywords" content="创星谷,肇庆创星谷,肇庆创新创业,肇庆孵化基地,肇庆就业与培训" />
</head>
<body>

	<include file="Public/nav" title="肇庆创星谷创新创业孵化基地"/>


<!-- team -->
<div id="link" class="team">
	<div class="container article">
		<div class="team-header team-header-about">
			<h2>学习机会</h2>
		</div>
		<br />
		<div class="content">
			{$study.content}
		</div>	
			
	</div>
</div>
<!-- //contact -->
<!-- footer -->
	<include file="Public/footer" title="肇庆创星谷创新创业孵化基地"/>
<!-- //footer -->
<script src="__PUBLIC__/js/layer/layer.js"></script>
</body>
</html>